<div class="item-form-container">
    <h1>
        <%= action==='/items/new' ? 'Add New' : 'Edit' %> Vehicle
    </h1>

    <form action="<%= action %>" method="POST" class="item-form">
        <div class="form-group">
            <label for="category">Category:</label>
            <select id="category" name="categoryId" required>
                <% categories.forEach(function(category) { %>
                    <option <%=category.id===item.category_id ? 'selected' : '' %> value="<%= category.id %>">
                            <%= category.name %>
                    </option>
                    <% }); %>
            </select>
        </div>
        <div class="form-group">
            <label for="make">Make:</label>
            <input type="text" id="make" name="make" value="<%= item.make %>" required>
        </div>
        <div class="form-group">
            <label for="model">Model:</label>
            <input type="text" id="model" name="model" value="<%= item.model %>" required>
        </div>
        <div class="form-group">
            <label for="year">Year:</label>
            <input step="1" min="1900" max="9999" type="number" id="year" name="year" value="<%= item.year %>" required>
        </div>
        <div class="form-group">
            <label for="mileage">Mileage (km):</label>
            <input step="1" min="0" type="number" id="mileage" name="mileage" value="<%= item.mileage %>" required>
        </div>
        <div class="form-group">
            <label for="condition">Condition:</label>
            <select name="condition" id="condition">
                <option <%=item.condition==='New' ? 'selected' : '' %> value="New">New</option>
                <option <%=item.condition==='Used' ? 'selected' : '' %> value="Used">Used</option>
            </select>
        </div>
        <div class="form-group">
            <label for="color">Color:</label>
            <input type="text" id="color" name="color" value="<%= item.color %>" required>
        </div>
        <div class="form-group">
            <label for="power_hp">Power (HP):</label>
            <input type="number" min="0" step="1" id="power_hp" name="power_hp" value="<%= item.power_hp %>" required>
        </div>
        <div class="form-group">
            <label for="engine_size">Engine Size (L):</label>
            <input type="number" min="0" step="0.1" id="engine_size" name="engine_size" value="<%= item.engine_size %>"
                required>
        </div>
        <div class="form-group">
            <label for="engine_type">Engine Type:</label>
            <select name="engine_type" id="engine_type">
                <option <%=item.engine_type==='Petrol' ? 'selected' : '' %> value="Petrol">Petrol</option>
                <option <%=item.engine_type==='Diesel' ? 'selected' : '' %> value="Diesel">Diesel</option>
                <option <%=item.engine_type==='Electric' ? 'selected' : '' %> value="Electric">Electric</option>
                <option <%=item.engine_type==='Hybrid' ? 'selected' : '' %> value="Hybrid">Hybrid</option>
                <option <%=item.engine_type==='Hydrogen' ? 'selected' : '' %> value="Hydrogen">Hydrogen</option>
                <option <%=item.engine_type==='LPG' ? 'selected' : '' %> value="LPG">LPG</option>
            </select>
        </div>
        <div class="form-group">
            <label for="gearbox">Gearbox:</label>
            <select name="gearbox" id="">
                <option <%=item.gearbox==='Manual' ? 'selected' : '' %> value="Manual">Manual</option>
                <option <%=item.gearbox==='Automatic' ? 'selected' : '' %> value="Automatic">Automatic</option>
            </select>
        </div>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="<%= item.title %>" required>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" step="1" id="price" name="price" value="<%= item.price %>" required>
        </div>
        <div class="form-group">
            <label for="imageUrl">Image URL:</label>
            <input type="text" id="imageUrl" name="imageUrl" value="<%= item.images[0] %>" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" required><%= item.description %></textarea>
        </div>
        <div class="form-group">
            <%- include('../partials/adminInput.ejs') %>

        </div>
        <button class="btn-apply" type="submit">
            <%= action==='/items/new' ? 'Add Item' : 'Update Item' %>
        </button>
    </form>
</div>