<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', { title: "Create Post" }) %>

    <body>
        <%- include('../partials/nav.ejs') %>

            <div class="form-container">
                <h1>Create Post</h1>

                <form action="/create" method="post">
                    <input type="text" id="title" name="title" value="<%= title %>" maxlength="100" placeholder="Title"
                        required>
                    <textarea id="content" name="content" placeholder="Content" maxlength="200"
                        required><%= content %></textarea>
                    <% if (errors && errors.length> 0) { %>
                        <div class="error-messages">
                            <% errors.forEach(function(error) { %>
                                <p class="error">
                                    <%= error.msg %>
                                </p>
                                <% }); %>

                        </div>
                        <% } %>
                            <button type="submit" class="btn">Create Post</button>
                </form>
            </div>

    </body>

</html>