<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: 'Delete Category' }) %>

    <body>
        <%- include('../partials/nav') %>
            <div class="container">
                <h1>Delete Category</h1>
                <p>Are you sure you want to delete category "<%= category.name %>"?</p>
                <form class="category-form" action="/categories/<%= category.id %>/delete/" method="POST">
                    <div class="form-group">
                        <%- include('../partials/adminInput') %>
                    </div>
                    <button type="submit" class="btn-apply">Delete Category</button>
                </form>
            </div>
    </body>

</html>